<!-- venues/templates/venues/_venue_select_updated.html -->
<div id="venue-select-container" hx-swap-oob="true">
  {{ venue_field }}
</div>

<!-- Shw a success message in the modal and trigger closure -->
<div id="venue-form-target">
  <div class="alert alert-success">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>Venue added and selectedd!</span>
  </div>
  <script>
    // Closes the DaisyUI modal authomatically after a short delay
    setTimeout(() => { venue_modal.close(); }, 1000);
  </script>
</div>