<!-- organizations/templates/organizations/org_role_type_add.html -->

{% extends "base.html" %}

{% block content %}
<h1>Add Organization Role Type</h1>

<form method="post">
  {% csrf_token %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}">
  {% endif %}
  {{ form.as_p }}

  <button type="submit">Create</button>
  <a href="{% if next %}{{ next }}{% else %}{% url 'organizations:org_role_type_list' %}{% endif %}">Cancel</a>
</form>

<hr>

<nav>
  <a href="{% url 'organizations:org_role_type_list' %}">
    Back to role type list
  </a>
</nav>
{% endblock %}
