<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en", data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Load the Tailwind tag library – this also loads { static %} for you -->
  {% load tailwind_tags %}
  {% load static %}
  <!-- Emit the compiled Tailwind CSS (binary mode) -->
  {% tailwind_css %}
  {# If you later want to use django-widget-tweaks, uncomment the line below #}
  {# {% load widget_tweaks %} #}

  <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">

  <title>{% block title %}LCB Library Project v2{% endblock %}</title>
  <!-- <link rel="shortcut icon" type="image/png" href="{ static 'images/favicon.ico' %}" -->

  <!-- HTMX load -->
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>

  {% block extra_head %}{% endblock %}

</head>
<body class="flex flex-col min-h-screen bg-gray-50">
<header class="h-15 bg-gray-700 text-blue-100 shadow-md">
  <nav class="flex justify-between items-center align-center px-4">
    <!-- Logo goes here -->
    <a href="{% url 'home' %}">Home</a>
    <a href = "{% url 'music:music_list' %}">Library</a>
    <a href = "{% url 'concerts:concert_list' %}">Concerts</a>
    <a href = "{% url 'people:person_list' %}">Persons</a>
    {% if user.is_staff %}
      <p>Add an Admin panel/dropdown here</p>
    {% endif %}
  </nav>
</header>
{% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
{% block content %}

{% endblock %}
</body>
</html>
