<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en", data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- {% load static %} -->
  <!-- widget-tweaks will go here sometime -->

  <!-- eventual Tailwind css link -->
  <!-- <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}"> -->

  <title>{% block title %}LCB Library Project v2{% endblock %}</title>
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" -->

  <!-- HTMX load -->
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>

  {% block extra_head %}{% endblock %}

</head>
<body>
{% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
{% block content %}

{% endblock %}
</body>
</html>
